<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product">
        <plugin name="training_catalog_plugin_product_plugin" type="Training\Catalog\Plugin\ProductPlugin" sortOrder="1" disabled="false"/>
    </type>
</config>